.style {
    padding: 4px;
}
.paragraph_style {
    color: rgb(255, 255, 255);
    font-family: 'Cambria-Italic', 'Cambria';
    font-size: 18px;
    font-stretch: normal;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_1 {
    color: rgb(0, 0, 0);
    font-family: 'Helvetica-Light', 'Helvetica';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_2 {
    color: rgb(0, 0, 0);
    font-family: 'Helvetica-Bold', 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_1 {
    font-family: 'Helvetica-Light', 'Helvetica';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}
.paragraph_style_3 {
    color: rgb(0, 0, 0);
    font-family: 'Helvetica-Light', 'Helvetica';
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_2 {
    font-family: 'Helvetica-Bold', 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
.style_3 {
    font-family: 'Helvetica-Bold', 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
.paragraph_style_4 {
    color: rgb(0, 0, 0);
    font-family: 'Helvetica-Light', 'Helvetica';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_5 {
    color: rgb(0, 0, 0);
    font-family: 'Helvetica-Light', 'Helvetica';
    font-size: 30px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_6 {
    color: rgb(0, 0, 0);
    font-family: 'Helvetica-Light', 'Helvetica';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_7 {
    color: rgb(0, 0, 0);
    font-family: 'Helvetica-Light', 'Helvetica';
    font-size: 1px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_4 {
    font-family: 'Helvetica-Light', 'Helvetica';
    font-size: 1px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}
.paragraph_style_8 {
    color: rgb(0, 0, 0);
    font-family: 'Helvetica-Light', 'Helvetica';
    font-size: 30px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 36px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_9 {
    color: rgb(0, 0, 0);
    font-family: 'Helvetica-Light', 'Helvetica';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_5 {
    font-family: 'LucidaGrande', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.paragraph_style_10 {
    color: rgb(0, 0, 0);
    font-family: 'LucidaGrande', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_11 {
    color: rgb(0, 0, 0);
    font-family: 'Helvetica-Bold', 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_6 {
    font-family: 'Helvetica-Light', 'Helvetica';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
}
.style_7 {
    font-family: 'LucidaGrande', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.paragraph_style_12 {
    color: rgb(0, 0, 0);
    font-family: 'Helvetica-Bold', 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_13 {
    color: rgb(0, 0, 0);
    font-family: 'LucidaGrande', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_8 {
    font-family: 'LucidaFax', 'Lucida Fax';
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.paragraph_style_14 {
    color: rgb(0, 0, 0);
    font-family: 'LucidaGrande', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-size: 1px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_9 {
    font-family: 'LucidaGrande', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.style_10 {
    font-family: 'Helvetica-Light', 'Helvetica';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
}
.paragraph_style_15 {
    color: rgb(0, 0, 0);
    font-family: 'Helvetica-Light', 'Helvetica';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_11 {
    font-family: 'Times-Roman', 'Times', 'Times New Roman', serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}
.style_12 {
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}
.paragraph_style_16 {
    color: rgb(0, 0, 0);
    font-family: 'Helvetica-Light', 'Helvetica';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_13 {
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.paragraph_style_17 {
    color: rgb(0, 0, 0);
    font-family: 'Helvetica-Light', 'Helvetica';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_External_850_197 {
    position: relative;
}
.style_14 {
    padding: 4px;
}
.paragraph_style_18 {
    color: rgb(255, 47, 43);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_15 {
    color: rgb(255, 255, 255);
    line-height: 25px;
    opacity: 1.00;
}
.paragraph_style_19 {
    color: rgb(0, 0, 0);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_20 {
    color: rgb(0, 0, 0);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_SkipStrokeSkipFillSkipOpacity {
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke {
    background: rgb(25, 25, 25);
    opacity: 1.00;
}
.style_SkipStroke_2 {
    background: transparent;
    float: right;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 0px;
    margin-top: 6px;
    opacity: 1.00;
}
.style_SkipStroke_3 {
    background: transparent;
    float: left;
    margin-bottom: 6px;
    margin-left: 0px;
    margin-right: 6px;
    margin-top: 6px;
    opacity: 1.00;
}
.style_SkipStroke_4 {
    background: transparent;
    float: left;
    margin-bottom: 6px;
    margin-left: 0px;
    margin-right: 6px;
    margin-top: 6px;
    opacity: 1.00;
}
.style_External_452_94 {
    position: relative;
}
.Body {
    color: rgb(88, 77, 77);
    font-family: 'Georgia', serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Free_Form {
    color: rgb(88, 77, 77);
    font-family: 'Georgia', serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    float: left;
    margin-bottom: 6px;
    margin-left: 0px;
    margin-right: 6px;
    margin-top: 6px;
    opacity: 1.00;
}
.graphic_image_style_default_10_SkipStroke {
    background: transparent;
    float: left;
    margin-bottom: 6px;
    margin-left: 0px;
    margin-right: 6px;
    margin-top: 6px;
    opacity: 1.00;
}
.graphic_shape_layout_style_default_External_850_197 {
    position: relative;
}
.graphic_shape_layout_style_default {
    padding: 4px;
}
.graphic_shape_style_default_SkipStroke {
    background: rgb(255, 255, 255);
    opacity: 1.00;
}
.graphic_shape_style_default_4_SkipStroke {
    background: rgb(183, 97, 78);
    opacity: 1.00;
}
.graphic_textbox_layout_style_default_External_568_57 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_750_4568 {
    position: relative;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_452_94 {
    position: relative;
}
.graphic_textbox_style_default_SkipStrokeSkipFillSkipOpacity {
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: rgb(216, 72, 0);
    text-decoration: none;
}
a:visited {
    color: rgb(216, 72, 0);
    text-decoration: none;
}
a.class1 {
    color: rgb(255, 255, 255);
}
a.class1:visited {
    color: rgb(255, 255, 255);
}
a.class1:hover {
    color: rgb(255, 124, 0);
}
a.class10 {
    color: rgb(255, 255, 255);
}
a.class10:visited {
    color: rgb(255, 255, 255);
}
a.class10:hover {
    color: rgb(255, 124, 0);
}
a.class11 {
    color: rgb(255, 255, 255);
}
a.class11:visited {
    color: rgb(255, 255, 255);
}
a.class11:hover {
    color: rgb(255, 124, 0);
}
a.class12 {
    color: rgb(255, 255, 255);
}
a.class12:visited {
    color: rgb(255, 255, 255);
}
a.class12:hover {
    color: rgb(255, 124, 0);
}
a.class13 {
    color: rgb(216, 72, 0);
    text-decoration: none;
}
a.class13:visited {
    color: rgb(216, 72, 0);
    text-decoration: none;
}
a.class13:hover {
    color: rgb(123, 12, 0);
    text-decoration: none;
}
a.class2 {
    color: rgb(255, 255, 255);
}
a.class2:visited {
    color: rgb(255, 255, 255);
}
a.class2:hover {
    color: rgb(255, 124, 0);
}
a.class3 {
    color: rgb(255, 255, 255);
}
a.class3:visited {
    color: rgb(255, 255, 255);
}
a.class3:hover {
    color: rgb(255, 124, 0);
}
a.class4 {
    color: rgb(255, 255, 255);
}
a.class4:visited {
    color: rgb(255, 255, 255);
}
a.class4:hover {
    color: rgb(255, 124, 0);
}
a.class5 {
    color: rgb(255, 255, 255);
}
a.class5:visited {
    color: rgb(255, 255, 255);
}
a.class5:hover {
    color: rgb(255, 124, 0);
}
a.class6 {
    color: rgb(255, 255, 255);
}
a.class6:visited {
    color: rgb(255, 255, 255);
}
a.class6:hover {
    color: rgb(255, 124, 0);
}
a.class7 {
    color: rgb(255, 255, 255);
}
a.class7:visited {
    color: rgb(255, 255, 255);
}
a.class7:hover {
    color: rgb(255, 124, 0);
}
a.class8 {
    color: rgb(255, 255, 255);
}
a.class8:visited {
    color: rgb(255, 255, 255);
}
a.class8:hover {
    color: rgb(255, 124, 0);
}
a.class9 {
    color: rgb(255, 255, 255);
}
a.class9:visited {
    color: rgb(255, 255, 255);
}
a.class9:hover {
    color: rgb(255, 124, 0);
}
a:hover {
    color: rgb(171, 21, 0);
    text-decoration: none;
}
ol  { 
      padding:0;
      margin:0;
      text-indent:0;
      list-style-type:none ;
      list-style-image:none
    }
.Bullet { 
          text-decoration:none ;
          text-transform:none ;
          border: none;          
        }
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
